.navbar{
    height: 50px;
    border-bottom:0.5px solid rgb(231,228,228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#555;
    .wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .search{
        display: flex;
        align-items: center;
        border:0.5px solid lightgray;
        padding: 3px;

        input{
            border:none;
            outline:none;
            padding: 5px;
            background-color: transparent;

            &::placeholder{
                font-size: 12px;
            }
        }
    }

    .items{
        display: flex;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            position:relative;
            margin-right: 20px;

            .icon{
                font-size: 20px;
                margin-right: 5px;;
            }

            .counter{
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top:-5px;
                right:0px;
                background-color: crimson;
                color:white;
                border-radius: 50%;
                font-size: 10px;
            }

            .avatar{
                width: 30px;
                height: 30px;
                border-radius:50%;
                object-fit:cover;
            }
        }
    }
    }
}