.table{

    .cellWrapper{
        display: flex;
        align-items: center;
        .image{
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    .status{
        padding: 5px;
        border-radius:5px;

        &.Approved{
            color:green;
            font-weight: 500;
            background-color: rgba(0, 128, 0, 0.307);
        }

        &.Pending{
            color:crimson;
            font-weight: 500;
            background-color: rgba(220, 20, 60, 0.249);
        }
    }
}